:root {
  --color-lb: #08A6E4;
  --color-fuchsia: #FB3B64;
  --color-bahama: #55DFB4;
  --color-domain: #000000;
  --bgc-dark: #707070;
  --bgc-medium: #95989A;
  --bgc-light: #A5A5A5;
  --bgc-domain: #FFFFFF;


}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

.pink {
  color: var(--color-fuchsia);
  background-color: var(--color-fuchsia);
}

.blue {
  color: var(--color-lb);
  background-color: var(--color-lb);
}

.bahama {
  color: var(--color-bahama);
  background-color: var(--color-bahama);
}

.btn {
  font-weight: bold;
  font-size: 13px;
  line-height: 40px;
  color: var(--bgc-domain);
  padding: 5px 57px;
  border-radius: 23px;
}

/*
HEADER
*/

.header {
  width: 100vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .29);
  position: fixed;
  z-index: 9999;
  background-color: var(--bgc-domain);
}

.header__bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 37px;
  color: var(--color-lb)
}

.header__nav__list {
  display: flex;
}

.header__nav__list__element {
  padding-left: 45px;
  padding-right: 50px;
  display: inline-block;
  line-height: 70px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--bgc-light);
  position: relative;
}

.header__nav__list__element:hover {
  color: var(--color-domain);
}

.header__nav__list__element:hover:before {
  content: "";
  display: block;
  background-color: var(--color-lb);
  height: 4px;
  width: calc(100% - 75px);
  position: absolute;
  bottom: 0;
  margin-left: -10px;
}

.header__nav__list li:last-child .header__nav__list__element:hover:before {
  width: calc(100% - 20px);
}

.header__nav__list li:last-child .header__nav__list__element {
  padding-right: 0;
}

.hamburgerMenu {
  display: none;
}

/*
BANNER
*/

.banner {
  height: calc(100vh - 70px);
  background-image: url("../assets/Background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  font-family: 'Raleway', sans-serif;
  font-size: 49px;
  line-height: 57px;
  color: var(--color-domain);
  margin-top: 130px;
  margin-bottom: 20px;
}

.banner__text {
  line-height: 22px;
}

.btn--banner {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--bgc-domain);
  padding: 22px 157px;
  border-radius: 40px;
  margin-top: 38px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

.btn--banner:active {
  box-shadow: 5px 5px 10px var(--bgc-dark) inset,
              -1px -1px 5px var(--bgc-dark) inset;
}

/*
INFO
*/

.info {
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin: 100px 0;
}

.info__boxes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info__box {
  margin: 0 110px;
  max-width: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  position: relative;
}

.info__box__title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 6px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 19px;
}

.info__box__text {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: var(--bgc-light);
}

.info__box__icon {
  position: absolute;
}

.person,
.catalog {
  left: 30px;
  top: 4px;
}

.eye {
  left: 20px;
  top: 15px;
}

/*
MAIN
*/

.main {
  background-color: #F7F7F7;
  padding: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tray {
  width: 1124px;
  height: 370px;
  margin-bottom: 37px;
  border-radius: 5px;
  background-color: var(--bgc-domain);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 35px;
  position: relative;
}

.reversed {
  flex-direction: row-reverse;
  padding: 12px;
}

.tray__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 416px;
}

.tray__box--mod {
  margin: 0 calc(20px - 12px);
}

.tray__box__title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.tray__box__text {
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.line {
  display: block;
  content: "";
  height: 4px;
  width: 80%;
}

.tray__box--laptop {
  width: 433px;
  height: 294px;
  margin: calc(38px - 35px) calc(71px - 35px);
  position: relative;
}

.tray__img--laptop {
  height: 219px;
  width: auto;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.tray__box--laptop::before {
  content: "";
  display: block;
  background-color: var(--color-fuchsia);
  border-radius: 41px;
  width: 180px;
  height: 180px;
  transform: rotateZ(45deg);
  position: absolute;
  right: 40px;
  top: 40px;
}

.tray__box--phone {
  width: 426px;
  height: 345px;
  margin: 0 calc(70px - 12px);
  position: relative;
}

.tray__img--phone {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.tray__box--phone::before {
  content: "";
  display: block;
  background-color: var(--color-lb);
  border-radius: 50%;
  width: 320px;
  height: 320px;
  position: absolute;
}

.tray__img--trumpet {
  height: 208px;
  width: auto;
  margin-top: calc(98px - 35px);
  margin-left: calc(62px - 35px);
}

.tray--smaller {
  width: 623px;
  margin-right: 61px;
}

.tray--special {
  width: 440px;
  background-color: var(--color-bahama);
}

/*
PRICING
*/

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.pricing__title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-top: 100px;
  margin-bottom: 71px;
}

.pricing__boxes {
  display: flex;
}

.pricing__box {
  width: 372px;
  height: 461px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 18px;
}

.pricing__box--special {
  margin: 0 60px;
  transform: scale(1.1);
  box-shadow: 5px 10px 27px #07ACE629;
}

.border--pink {
  border: 1px solid var(--color-fuchsia);
}

.border--blue {
  border: 1px solid var(--color-lb);
}

.border--bahama {
  border: 1px solid var(--color-bahama);
}

.pricing__box__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
}

.pricing__box__price {
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  background-color: var(--bgc-domain);
  margin-top: 14px;
  margin-bottom: 7px;
}

.pricing__box__text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #13253B;
  margin-bottom: 50px;
}

.btn--position {
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
}

.pricing__box__checklist {
  font-size: 14px;
  line-height: 19px;
  position: relative;
}

.pricing__box__checklist:last-of-type {
  margin-bottom: calc(81px - 34px);
}

.pricing__box__checklist::before {
  content: url("../assets/Ckechmark-1.svg");
  display: block;
  position: absolute;
  left: -16px
}

.checklist--negative::before {
  content: url("../assets/Close.svg");
  display: block;
  position: absolute;
  left: -16px
}

/*
 CALCULATOR
*/

.calculator {
  background-color: #F7F7F7;
  padding: 93px 50px 109px 50px;
}

.calc__container {
  text-align: center;
}

.calc__title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 52px;
}

.calc__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__box__form input, .calc__box__form select {
  display: block;
}

.calc__box__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 248px;
  width: 440px;
  margin-right: 47px;
  position: relative;
}

.box__form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(8, 166, 228, 0.16);
  font-size: 13px;
  line-height: 18px;
  padding: 11px 20px;
}

.box__form:nth-child(2) {
  margin: 20px 0;
}

.box__form::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--bgc-light);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc__box__form label {
  font-size: 12px;
  line-height: 17px;
  color: var(--bgc-dark);
  text-align: left;
  padding-left: 34px;
  position: relative;
  margin: 23px 0 4px 0;
  cursor: pointer;
}

.box__form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--bgc-medium);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -4px;
  top: -6px;
  cursor: pointer;
}

.box__form__checkbox:checked::after {
  content: "";
  background-image: url("../assets/calc/Checkmark (1).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 12px;
  height: 11px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 6px;
  cursor: pointer;
}

.cover {
  text-align: left;
  border-radius: 6px;
  position: absolute;
  width: 440px;
  height: 40px;
  top:120px;
  left: 0;
  color: var(--bgc-light);
  font-size: 13px;
  line-height: 18px;
  padding: 11px 20px;
  z-index: 1;
  cursor: pointer;
}

.options {
  position: absolute;
  top:170px;
  left: 0;
  height: 105px;
  width: 440px;
  text-align: left;
  border-radius: 6px;
  font-size: 13px;
  line-height: 18px;
  padding: 11px 20px;
  border: 1px solid #EB476E;
  box-shadow: 0 3px 6px rgba(235, 71, 110, 0.16);
  background-color: #F7F7F7;
  z-index: 1;
  cursor: pointer;
}

.options ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.options ul li {
  display: block;
  height: 35px;
  line-height: 25px;
}

.options ul li:hover {
  background-color: rgba(235, 71, 110, 0.16);
}

.visible {
  visibility: hidden;
}

.rotate45 {
  transform: rotate(45deg);
  transition: 0.5s;
  position: absolute;
  top: 5px;
}

.rotate135 {
  transform: rotate(135deg);
  transition: 0.5s;
  position: absolute;
  top: 5px;
}

.rotate-45, .rotate-45v2 {
  transform: rotate(360deg);
  transition: 0.5s;
  position: absolute;
  top: 0;
}

.rotate-45v2 {
  top: 5px;
}


.arrow {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url("../assets/calc/Arrow Down.svg");
  top: 129px;
  left: 90%;
  transition: .2s;
}

.rotate {
  transform: rotate(180deg);
}

.calc__box__result {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 248px;
  width: 385px;
}

.box__result__row {
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 4px 20px;
  font-size: 14px;
  line-height: 19px;
}

.row__title {
  display: block;
  width: 40px;
  text-align: left;
}

.row__sum {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: block;
  width: 40px;
  text-align: right;
}

.box__result__sum {
  color: #fff;
  width: 180px;
  height: 38px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 6px 19px 5px 15px;
  font-size: 14px;
  line-height: 19px;
}

.row__sum--bigger {
  font-size: 20px;
  line-height: 27px;
  width: 100px;
  height: 100%;
}




/*
CONTACT FORM
*/

.question {
  width: 896px;
  display: flex;
  margin: 100px auto 0;
  justify-content: space-between;
}

.contact__title {
  font-family: 'Raleway', sans-serif;
  font-size: 49px;
  line-height: 57px;
}

.contact__text {
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 42px;
}

.contact__icons {
  display: flex;
}

.contact__icon {
  font-weight: 600;
  line-height: 22px;
  color: var(--bgc-light);
  display: flex;
  align-items: center;
}

.contact__icon:first-of-type::before {
  content: "";
  display: block;
  background-image: url("../assets/Mail Icon.svg");
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.contact__icon:last-of-type::before {
  content: "";
  display: block;
  background-image: url("../assets/Phone Icon.svg");
  width: 27px;
  height: 27px;
  margin-right: 10px;
  margin-left: 20px;
}

.question__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  position: relative;
}

.form__label {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3px;
  color: var(--color-lb);
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--bgc-medium);
  margin: 30px 0;
  font-size: 1.2em;
  line-height: 1.3em;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--color-lb);
  opacity: .5;
}

.form__checkbox {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 17px;
  color: var(--bgc-dark);
}

.form__checkbox button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--bgc-medium);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 0 0;
  position: relative;
}

.form__checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--bgc-medium);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 0 0;
  position: relative;
  flex-shrink: 0;
}

.form__checkbox input:checked:after {
  content: "";
  background-image: url("../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 12px;
  height: 11px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 6px;
}

.btn--send {
  display: inline-block;
  align-self: flex-end;
  cursor: pointer;
  border: 0;
  outline: none;
  line-height: 18px;
  padding: 20px 97px;
  border-radius: 35px;
  box-shadow: 5px 10px 14px #07ACE629;
  margin-top: 20px;
  margin-bottom: 59px;
}

.btn--send:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*
FOOTER
*/

.footer {
  width: 100vw;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, .29);
  background-color: #F7F7F7;
}

.footer__bar {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: var(--color-lb);
  display: inline-block;
  margin-bottom: 6px;
}

.footer__text {
  font-size: 11px;
  line-height: 15px;
  color: var(--bgc-light);
}

.footer__icons {
  display: flex;
}

.footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.icon--twitter {
  background-image: url("../assets/Twitter.svg");
}

.icon--facebook {
  background-image: url("../assets/Facebook.svg");
}






