@media (min-width: 1900px) {
  .banner {
    height: 80vh;

    .banner__title {
      margin-top: 200px;
      transform: scale(1.5);
    }

    .banner__text {
      transform: scale(1.5);
    }

    .btn--banner {
      transform: scale(1.5);
    }
  }
}

@media (max-width: 1439px) {
  .header__bar {
    max-width: 90%;
  }
  .main {
    padding: 105px 12px;

    .tray--smaller {
      margin-right: 12px;
      width: 50%;

    }

    .tray--special {
      width: 40%;
    }

  }
  .pricing {
    padding: 0 12px;

    .pricing__boxes {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .pricing__box {
        height: 380px;

        .pricing__box__text {
          margin-bottom: 25px;
        }

        .pricing__box__checklist {
          &:last-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .footer__bar {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .header__nav__list {
    .header__nav__list__element {
      padding-left: 0;

      &:hover:before {
        width: calc(100% - 40px);
        margin-left: -5px;
      }

      //.header__nav__list li:last-child .header__nav__list__element:hover:before
    }

    li {
      &:last-child {
        .header__nav__list__element {
          &:hover:before {
            width: calc(100% + 10px);
          }
        }
      }
    }
  }
  .info {
    width: 90%;

    .info__title {
      text-align: center;
    }

    .info__boxes {
      justify-content: space-around;

      .info__box {
        margin: 0;
      }
    }
  }
  .tray {
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    .tray__img--trumpet {
      margin-left: 0;
    }
  }
  .question {
    width: 100%;
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .header__bar {
    position: relative;

    .header__logo {
      padding: 22px 10px 16px 0;
      line-height: 32px;
    }

    .header__nav {
      display: none;
      position: absolute;
      height: 175px;
      width: 200px;
      top: 60px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .29),
      0 3px 6px rgba(0, 0, 0, .29) inset;
      background-color: var(--bgc-domain);
      right: 0;

      .header__nav__list {
        flex-direction: column;
        align-items: flex-end;
        padding: 31px 35px 34px 25px;

        .header__nav__list__element {
          line-height: 15px;
          padding: 0;
          margin-bottom: 14px;

          &::before {
            display: none;
          }
        }

        li {
          &:last-child .header__nav__list__element {
            margin-bottom: 0;
          }
        }
      }
    }

    .hamburgerMenu {
      height: 12px;
      width: 20px;
      margin: 30px 30px 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-shrink: 0;
      position: relative;

      .slice {
        width: 100%;
        height: 2px;
        background-color: var(--color-lb);
      }
    }
  }
  .info {
    height: 400px;

    .info__title {
      margin: 50px 0;
    }
  }
  .main {
    padding: 50px 12px;

    .tray--special {
      padding-left: 0;

      .tray__img--trumpet {
        height: 200px;
      }
    }

    .tray__box--laptop {
      margin-right: 0;

      &::before {
        right: 0;

      }

      .tray__img--laptop {
        height: 184px;

      }
    }

    .tray__box--phone {
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        width: 280px;
        height: 280px;
        top: 0;
        left: 0;
      }

      .tray__img--phone {
        position: static;
        height: 80%;
        width: auto;
      }
    }
  }
  .pricing__title {
    margin-top: 50px;
  }
  .calculator {
    padding-top: 50px;
    padding-bottom: 50px;

    .cover {
      width: 100%;
    }

    .options {
      width: 100%;
    }
  }
  .question {
    margin-top: 50px;

    .contact__icons {
      height: 84px;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 33px;

      .contact__icon:nth-child(2) {
        &::before {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .header__bar {
    .header__logo {
      padding: 22px 10px 16px 0;
      line-height: 32px;
    }

    .header__nav {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .29),
      0 3px 6px rgba(0, 0, 0, .29) inset;
      background-color: var(--bgc-domain);
      left: 0;
      width: 100%;

      .header__nav__list {
        flex-direction: column;
        padding: 31px 0 34px 25px;
        align-items: flex-start;

        .header__nav__list__element {
          line-height: 15px;
          padding: 0;
          margin-bottom: 14px;

          &::before {
            display: none;
          }
        }

        li {
          &:last-child .header__nav__list__element {
            margin-bottom: 0;
          }

        }
      }
    }
  }
  .banner {
    width: 100%;
    height: 267px+70px+364px;
    background-size: 800px;
    margin: 0 auto;

    .banner__title {
      font-size: 35px;
      line-height: 42px;
      margin-top: 106px+70px;
    }

    .banner__text {
      display: block;
      max-width: 300px;
      text-align: center;
    }

    .btn--banner {
      padding: 22px 92px;
      margin-top: 28px;
    }
  }
  .info {
    height: 762px;

    .info__title {
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;
      max-width: 300px;
    }

    .info__boxes {
      flex-direction: column;

      .info__box {
        max-width: 100%;

        .circle {
          .info__box__icon {
          }
        }

        .info__box__title {
          margin-top: 18px;
          margin-bottom: 22px;
        }

        .info__box__text {
          margin-bottom: 25px;
        }
      }
    }
  }
  .main {
    padding: 42px 30px;

    .tray {
      max-width: 314px;
      height: 370px;
      padding: 0 21px 30px 21px;
      flex-direction: column-reverse;
      justify-content: space-between;
      margin-bottom: 41px;

      &:nth-of-type(3) {
        flex-direction: column;
        padding: 0;
        height: 535px;
        margin-bottom: 0;
      }

      .tray__box--mod {
        margin: 0;
      }

      .tray__box {
        max-width: 272px;
        height: 166px;
        justify-content: space-between;

        .tray__box__title {
          font-size: 30px;
          line-height: 36px;
        }

        .tray__box__text {
          font-size: 14px;
          line-height: 19px;
          margin: 0;
        }

        .line {
          display: none;
        }
      }

      .tray__box--laptop {
        max-width: 215px;
        height: 147px;
        margin: 0 22px 0 34px;

        .tray__img--laptop {
          max-width: 192px;
          height: 110px;
        }

        &::before {
          max-width: 107px;
          height: 107px;
          top: 0;
          right: 0;
          margin: 20px;
        }
      }

      .tray__box--phone {
        max-width: 175px;
        height: 142px;
        margin: 12px 29px 0 69px;

        .tray__img--phone {
        }

        &::before {
          max-width: 131px;
          height: 131px;
        }
      }

      .tray__img--trumpet {

      }
    }

    .tray--smaller {
      height: 298px;
      margin: 0;
      padding-top: 30px;
      width: 100%;
      flex: 0 1 auto;

      .tray__box {
        height: 243px;

        .tray__box__title {
          font-size: 29px;
        }

        .tray__box__text {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .tray--special {
      height: 195px;
      padding: 0;
      min-width: 314px;
      margin-bottom: 0;

      .tray__img--trumpet {
        max-width: 295px;
        height: 208px;
        margin: 0;
        position: absolute;
        left: -10px;
        bottom: -40px;
      }
    }
  }
  .pricing {
    width: 90%;
    height: 1031px;
    margin: 0 auto;

    .pricing__title {
      margin-top: 60px;
      margin-bottom: 14px;
    }

    .pricing__boxes {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pricing__box {
        max-width: 293px;
        height: 251px;
        padding: 20px;
        flex-wrap: wrap;
        margin-bottom: 54px;
        align-items: flex-start;
        align-content: space-between;

        &:first-child {
          .pricing__box__title {
            margin-left: 25px;
          }

          .pricing__box__price {
            margin-bottom: 60px;
            margin-left: 25px;
          }
        }

        .pricing__box__title {
          margin: 60px 0 1px;
          align-self: center;
        }

        .pricing__box__price {
          margin: 0;
          align-self: center;

        }

        .pricing__box__text {
          margin-bottom: 47px;
          align-self: center;
        }

        .pricing__box__checklist {
          margin-bottom: 20px;
        }
      }

      .pricing__box--special {
        margin: 0 0 54px 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .calculator {
    padding: 10px 10px 30px;

    .calc__title {
      margin-top: 30px;
      padding: 10px;
      margin-bottom: 30px;
    }

    .calc__box {
      flex-direction: column;

      .calc__box__form {
        max-width: 90%;
        height: 340px;
        margin: 0;
        justify-content: space-around;
        align-items: center;

        .box__form {
          height: 50px;
          font-size: 1.6em;
          width: 80%;
          text-align: center;

          &:nth-child(2) {
            margin: 0;
          }

          &::placeholder {
            display: block;
            font-size: 0.5em;
            vertical-align: center;

          }
        }

        .cover {
          height: 50px;
          width: 80%;
          top: 178px;
          left: 34px;
          text-align: center;
          font-size: .9em;
          padding-top: 20px;
          padding-right: 40px;
        }

        .arrow {
          top: 188px;
          left: 75%;
          background-size: cover;
          width: 30px;
          height: 30px;
        }

        .options {
          top: 250px;
          width: 100%;
          height: 200px;

          ul {
            justify-content: space-around;

            li {
              font-size: 1em;
            }
          }

        }

        label {
          margin: 0 0 0 20px;
          font-size: 1.2em;
          align-self: flex-start;

          input {
            transform: scale(1.2);
            left: -12px;
          }

        }
      }

      .calc__box__result {
        margin-top: 50px;
        width: 90%;
        align-items: center;
      }
    }
  }
  .question {
    max-width: 316px;
    margin-top: 60px;
    flex-direction: column;

    .question__contact {
      width: 90%;
      margin: 0 auto;


      .contact__title {
        font-size: 40px;
        line-height: 48px;
      }

      .contact__text {
        display: block;
        height: 45px;
        margin: 5px 0 15px 0;

      }

      .contact__icons {
        height: 64px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 53px;

        .contact__icon:nth-child(2) {
          &::before {
            margin-left: 0;
          }
        }
      }

    }

    .question__form {
      width: 90%;
      margin: 0 auto;

      .form__input {
        margin: 20px 0 42px 0;

        &:nth-of-type(2) {
          margin-bottom: 31px;
        }
      }

      .form__checkbox {
        height: 200px;

        span {
          height: 156px;
          width: 277px;
          text-align: justify;
        }
      }

      .btn--send {
        margin-bottom: 0;
      }
    }
  }
  .footer {
    margin-top: 44px;
    height: 89px;

    .footer__bar {
      padding: 17px;

      .footer__logo {
        margin-bottom: 0;
      }
    }

    .footer__icons {
      margin-right: 13px;

      .footer__icon {
        //transform: scale(1.2);
      }
    }

  }
}

@media (max-width: 375px) {
  .header__bar {
    .header__nav {
      width: 100%;
      margin: 0 auto;
    }

    .header__logo {
      padding-left: 10px;
    }
  }
}

@media (max-width: 325px) {
  .banner {
    .btn--banner {
      padding: 20px 75px;
    }
  }
  .main {
    padding-left: 10px;
    padding-right: 10px;

    .tray {
      .tray__box {
        width: 100%;
      }

      .tray__box--mod {
        height: 185px;
      }
    }

    .tray--special {
      min-width: 100%;
    }
  }
  .pricing {
    .pricing__boxes {
      .pricing__box {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
      }

      .pricing__box--special {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .calculator {
    .calc__box {
      .calc__box__form {
        label {
          font-size: .9em;
        }

        .cover {
          left: 27px;
        }

        .box__form {
          &:last-of-type {
            padding-left: 5px;
          }
        }
      }
    }
  }
}



